__pycache__
.DS_Store
.idea/
.venv/
.env/
!.gitignore
credentials.yaml
data_extraction/Adzuna/output/*.json
!data_extraction/Adzuna/output/.gitkeep
!data_extraction/Adzuna/output/all_jobs.json
data_extraction/Todo.md
