__pycache__
.DS_Store
.idea/
.venv/
.env
!.gitignore
credentials.yaml
data_extraction/Adzuna/output/*.json
!data/Adzuna/output/.gitkeep
!data/Adzuna/output/all_jobs.json
 data/Adzuna/output/no_results_queries.json
Todo.md
